
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}
@section Scripts {
    <script>
        console.log("OKI");
        $("#btn1").click(function () {
            $("#btn2").click();
        });
        $("#btn2").click(function () {
            alert("OKI");
        })
    </script>
}
<h2>Index</h2>
<button type="button" id="btn1" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-secondary">Secondary</button>
<button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-warning">Warning</button>
<button type="button" class="btn btn-info">Info</button>
<button type="button" class="btn btn-light">Light</button>
<button type="button" class="btn btn-dark">Dark</button>

<button type="button" id="btn2" class="btn btn-link">Link</button>

